<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}" dir="ltr"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}" dir="ltr"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_img_url: '32x32' }}" type="image/png">

  <title>{{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <link rel="preload" href="{{ 'password.scss.css' | asset_url }}" as="style">
  <link rel="stylesheet" href="{{ 'password.scss.css' | asset_url }}">

  {% include 'theme-fonts' %}
  {% include 'theme-scripts' %}

  {{ content_for_header }}
</head>
<body class="template-password">

  {% comment %}
  <header class="site-header">
    {% section 'header' %}
  </header>
  {% endcomment %}

  <main class="site-main" role="main">
    {{ content_for_layout }}
  </main>

  {% comment %}
  <footer class="site-footer">
    {% include 'footer_credits' %}
  </footer>
  {% endcomment %}
</body>
</html>
