<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}" dir="ltr"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}" dir="ltr"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_img_url: '32x32' }}" type="image/png">

  <title>{{ page_title | escape }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'theme-styles' styleguide: true %}
  {% include 'theme-fonts' %}
  {% include 'theme-scripts' %}

  {{ content_for_header }}
</head>
<body class="template-{{ template | split:'.' | first }}{% if template contains '.' %} template-{{ template | replace:'.','-' }}{% endif %}">
  <header class="site-header">
    {% section 'header' %}
  </header>

  <main class="site-main" role="main">
    {% comment %}
      We need content_for_layout but we don't want it for the styleguide so capture it and just don't output it.
    {% endcomment %}
    {% capture content %}{{ content_for_layout }}{% endcapture %}

    {% comment %}
      Actual content for styleguide
    {% endcomment %}
    {% section 'styleguide' %}
  </main>

  <footer class="site-footer">
    {% include 'footer_credits' %}
  </footer>
</body>
</html>
