<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page_title | escape }}</title>

  {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
  {% include 'javascript' %}

  {{ content_for_header }}
</head>
<body class="template-{{ template | split:'.' | first }}{% if template contains '.' %} template-{{ template | replace:'.','-' }}{% endif %}">
  <header class="site-header">
    {% section 'header' %}
  </header>
  
  <main class="site-main" role="main">
    {{ content_for_layout }}
  </main>
  
  <footer class="site-footer">
    {% section 'footer' %}
  </footer>
</body>
</html>