{% comment %}
  TODO:
  - Newsletter sign up
  - Copyright date
  - Powered by link
  - Theme credits
{% endcomment %}

{%- if section.blocks.size > 0 -%}
<section class="footer-content">
  <div class="container">
    {%- for block in section.blocks -%}
      {%- if block.type == 'area' -%}
      <div class="footer-area">
        {%- if block.settings.heading != blank -%}
          <h4 class="footer-area-heading">{{ block.settings.heading }}</h4>
        {%- endif -%}
        
        {%- if block.settings.text != blank -%}
          <div class="footer-area-text">{{ block.settings.text }}</div>
        {%- endif -%}
        
        {%- assign link_list = linklists[block.settings.link_list] -%}
        {%- if link_list -%}
          <ul class="footer-area-link-list">
            {%- for link in link_list.links -%}
              <li{% if link.active %} class="link-active"{% endif %}><a href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title }}</a></li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
        
        {%- assign blog = blogs[block.settings.blog] -%}
        {%- if blog -%}
          <ul class="footer-area-blog-list">
            {%- for article in blog.articles limit:section.settings.blog_list_limit -%}
              <li>
                <h5><a href="{{ article.url }}">{{ article.title }}</a></h5>
                {%- if section.settings.show_blog_list_excerpt -%}
                  <div class="footer-area-article-excerpt">
                    <p>
                      {{ article.excerpt_or_content | strip_html | truncatewords: 20 }}
                      <a href="{{ article.url }}">{{ 'articles.read_more' | t }}</a>
                    </p>
                  </div>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
        
        {%- if block.settings.image -%}
          {%- assign image_filename = block.settings.image | split: '/' | last | split: '.' | first | replace: '_',' ' | replace: '-',' ' | capitalize -%}
          <figure class="footer-area-image">
            {%- if block.settings.image_url != blank -%}<a href="{{ block.settings.image_url }}">{%- endif -%}
              
            <img src="{{ block.settings.image | img_url: '200x' }}"
              {% comment [IMAGE] - update sizes for your own needs %}
              srcset="{{ block.settings.image | img_url: '200x' }} 100w"
              sizes="100vw"
              {% endcomment %}
              alt="{{ block.settings.image.alt | default: image_filename | escape }}">
              
            {%- if block.settings.image_url != blank -%}</a>{%- endif -%}
            
            {%- if block.settings.image_caption != blank -%}
            <figcaption>
              <p>{{ block.settings.image_caption }}</p>
            </figcaption>
            {%- endif -%}
          </figure>
        {%- endif -%}
      </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
</section>
{%- endif -%}

<section class="footer-credits">
  <div class="container">
  </div>
</section>

{% schema %}
{
  "name": "Footer",
  "class": "footer",
  "max_blocks": 6,
  "settings": [
    {
      "type": "header",
      "content": "Recent article list"
    },
    {
      "type": "select",
      "id": "blog_list_limit",
      "label": "Number of articles to show",
      "options": [
        { "value": "3", "label": "3" },
        { "value": "4", "label": "4" },
        { "value": "5", "label": "5" },
        { "value": "6", "label": "6" }
      ],
      "default": "5"
    },
    {
      "type": "checkbox",
      "id": "show_blog_list_excerpt",
      "label": "Show articles excerpt"
    }
  ],
  "blocks": [
    {
      "type": "area",
      "name": "Area",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "header",
          "content": "Lists"
        },
        {
          "type": "link_list",
          "id": "link_list",
          "label": "Navigation list"
        },
        {
          "type": "blog",
          "id": "blog",
          "label": "Recent article list"
        },
        {
          "type": "header",
          "content": "Images"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "image_url",
          "label": "Image link"
        },
        {
          "type": "text",
          "id": "image_caption",
          "label": "Image caption"
        }
      ]
    }
  ]
}
{% endschema %}